---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: directory
  path: _content/learn
  label: Learn/Trade Content
  create: all
  match: "**/*.{md,mdx}"
  new_doc_ext: ".mdx"
- type: directory
  path: shared/sideNav
  label: Trade Menus
  create: all
  match: "**/*{.json}"
  exclude: "**/*{.js}"
  new_doc_ext: json
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: _next
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run dev
